body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 90%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5px;
    padding-left: 20px;  
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-experience{
    border-left: 10px solid;
    border-image: linear-gradient(blue,skyblue);
    border-image-slice: 1;
}
#web-dev-experience1{
    border-left: 10px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}